<?xml version="1.0" ?>
<!--
/**
 * @package     Plumrocket_ShippingTracking
 * @copyright   Copyright (c) 2018 Plumrocket Inc. (https://www.plumrocket.com)
 * @license     https://www.plumrocket.com/license/  End-user License Agreement
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
      <!--  <add module="Plumrocket_ShippingTracking" parent="Plumrocket_Base::elements" id="Plumrocket_ShippingTracking::prshippingtracking" resource="Plumrocket_ShippingTracking::prshippingtracking" title="Order Status  &amp; Shipping Tracking" sortOrder="8980849"/>
        <add module="Plumrocket_ShippingTracking" parent="Plumrocket_ShippingTracking::prshippingtracking" id="Plumrocket_ShippingTracking::configuration" resource="Plumrocket_ShippingTracking::configuration" action="adminhtml/system_config/edit/section/prshippingtracking" title="Configuration" sortOrder="100"/> -->
    </menu>
</config>
