<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Solwin_Cpanel::view" title="Theme Cpanel" module="Solwin_Cpanel" sortOrder="10" resource="Solwin_Cpanel::cpanel"/>
        <add id="Solwin_Cpanel::extension" title="Theme Cpanel" module="Solwin_Cpanel" sortOrder="5" parent="Solwin_Cpanel::view" resource="Solwin_Cpanel::view" />
        <add id="Solwin_Cpanel::cpanelsetting" title="Configuration" module="Solwin_Cpanel" sortOrder="20" parent="Solwin_Cpanel::extension" action="adminhtml/system_config/edit/section/cpanelsection" resource="Solwin_Cpanel::cpanel"/>
       <!-- <add id="Solwin_Add::add" title="Solwin Extensions" module="Solwin_Cpanel" sortOrder="20" resource="Solwin_Cpanel::view" parent="Solwin_Cpanel::view"/>
        <add id="Solwin_Addimage::addimage" title="Sale" module="Solwin_Cpanel" sortOrder="20" parent="Solwin_Add::add" resource="Solwin_Add::addimage"/>
        <add id="Solwin_Add::add_two" title="Solwin Extensions" module="Solwin_Cpanel" sortOrder="20" resource="Solwin_Cpanel::view" parent="Solwin_Cpanel::view"/>
        <add id="Solwin_Addimage::addimage_two" title="Sale" module="Solwin_Cpanel" sortOrder="20" parent="Solwin_Add::add_two" resource="Solwin_Add::addimage_two"/>  -->
		  
		        <add id="Magento_Theme::design_config_1" title="Logo Configuration" translate="title" module="Magento_Theme" sortOrder="21" parent="Solwin_Cpanel::extension" action="theme/design_config" resource="Magento_Config::config_design"/>

		        <add id="Magento_Config::system_config_1" title="Store Configuration" translate="title" module="Magento_Config" sortOrder="22" parent="Solwin_Cpanel::extension" action="adminhtml/system_config" resource="Magento_Config::config"/>

		
    </menu>
</config>